.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Aqum";
  font-weight: 700;
  font-size: 2.8rem;
  border-top: 2px solid #37b92b;
  padding: 1%;
  color: #3ecf30;
}

@media all and (max-width: 1100px) {
  .footer {
    font-size: 2.2rem;
    padding: 2%;
  }
}

@media all and (max-width: 890px) {
  .footer {
    font-size: 1.9rem;
    padding: 3%;
  }
}
