.cont {
  padding: 1% 0;
}

h3 {
  font-size: 1.5vw;
  font-family: "Andada Pro";
  font-weight: 500;
}

.formsName {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1vw;
}

.neces {
  color: red;
  font-size: 1.3vw;
}

.necesCont {
  font-size: 0.9vw;
  color: #525751c9;
  padding: 1% 5%;
}

.signupform {
  border-top: 3px dashed black;
  border-bottom: 3px dashed black;
  margin: 1vw 0;
  padding: 2% 5%;
}

.label {
  font-size: 1.2vw;
}

input,
select {
  border: 1px solid #7edf75;
  border-radius: 12px;
  height: 47px;
  background-color: rgba(83, 238, 68, 0.15);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 20px;
  margin: 2% 3% 2% 0;
  color: rgba(0, 0, 0, 0.671);
}

input:focus {
  outline: none;
}

.birth,
.tel {
  width: 10%;
  text-align: center;
}

.name,
.tel {
  width: 28%;
}

select {
  width: 20%;
  padding: 0;
  color: rgba(0, 0, 0, 0.366);
  text-align: center;
}

.center {
  display: flex;
  align-items: center;
}

i {
  color: rgba(255, 0, 0, 0.589);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}
